img, iframe { 
    border-radius: 10px;
}
.video-container {
    background-color: #0e1117;
    width: 100%;
    display: block;
    overflow: hidden;
    line-height: 0;
}
.logo-video {
    mix-blend-mode: screen;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
