.stApp { 
    filter: invert(1) hue-rotate(180deg); 
}
.stApp, [data-testid="stAppViewContainer"], [data-testid="stHeader"], [data-testid="stSidebar"] {
    background-color: #000000 !important;
}
img, iframe { 
    filter: invert(1) hue-rotate(180deg); 
    border-radius: 10px;
}
.video-container {
    filter: invert(1) hue-rotate(180deg); 
    background-color: #0e1117;
    width: 100%;
    display: block;
    overflow: hidden;
    line-height: 0;
}
.logo-video {
    mix-blend-mode: screen;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
